<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Selenium Tests Suite">

    <listeners>
        <listener class-name="com.automation.remarks.testng.UniversalVideoListener"/>
    </listeners>

    <test name="Google Test" parallel="classes" thread-count="3">
        <classes>
            <class name="ui.GoogleTest"/>
<!--            <class name="ui.YandexTest"/>-->
<!--            <class name="ui.RamblerTest"/>-->
        </classes>
    </test>
</suite>
